@use '../../00-globals/variables' as v;
@use '../../00-globals/global-mixin' as gmix;

.main_page {
  @include gmix.flexbox(column, $jt: none, $al: none);
  flex: 1 1 auto;
  background-color: #fffdfd;
  overflow: hidden;
  position: relative;
}

.main_content_root {
  @include gmix.size(100%);
  @extend %useScrollbarStyle;
  overflow: auto;
  position: relative;
}

.main_content {
  @include gmix.flexbox(column, $jt: none, $al: center);
  padding: 1rem;
  min-width: 280px;
}

.main_content_header {
  width: 100%;
  flex: 1 1 100%;
}
