@use '../../../00-globals/variables' as v;
@use '../../../00-globals/global-mixin' as *;

.chart_btn_tab_wrapper {
  @include useFlexbox(column, $jt: none);
  width: 50%;
  background-color: rgb(246, 251, 255);
  border-radius: 5px;
  max-width: 39.4375rem;
  max-height: 26rem;
}

.btn_tab_container {
  @include useFlexbox(row);
  gap: 1px;
  flex: 1;
  width: 70%;
}

.btn_tab {
  $btn-radius: 5px;
  flex: 1 0;
  padding: 0.9rem 1rem;
  border-radius: 0;
  border: none;
  font-size: 0.89rem;
  &:first-child {
    border-top-left-radius: $btn-radius;
    border-bottom-left-radius: $btn-radius;
  }
  &:last-child {
    border-top-right-radius: $btn-radius;
    border-bottom-right-radius: $btn-radius;
  }
}
