@use '../../../00-globals/variables' as v;
@use '../../../00-globals/global-mixin' as gmix;

.add_user_form {
  position: relative;
}

.admin_modal {
  @extend %modalContainerDefault;
  display: flex;
  background-color: rgba(#333, 90%);
  color: #eee;

  &__form {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @at-root {
    @include gmix.useFormFloating;
  }
}

.add_user_modal {
  background-color: #eee;
  width: 60%;
  max-width: 39.75rem;
  padding: 1rem;
}

.form_inputs {
  width: 100%;
  border: none;
}

.form_btn_container {
  display: flex;
  justify-content: flex-end;
  padding-block-start: 0.5rem;
  gap: 0.3rem;
}

@media (max-width: 490px) {
  .add_user_modal {
    width: 90%;
  }
}

@media (max-width: 300px) {
  .add_user_modal {
    width: 100%;
  }
}
