@use '../00-globals/variables' as v;
@use '../00-globals/global-mixin' as *;

.left_side_parent {
  display: block;
  @include useSquareSize(100%);
  transition: all 250ms ease;
  max-width: v.$left-side-width;
  flex: 0;
  width: 0;

  &.left_pane_oppened {
    display: block;
    width: v.$left-side-width;
    z-index: v.$zindex_level_one;
  }
}

.left_side {
  height: 100%;
  width: v.$left-side-width;
  overflow: hidden;
  background-color: #f4fdff;
  border-inline-end: 1px solid v.$light_gray;
  z-index: v.$zindex_level_one;
  @extend %useScrollbarStyle;
  transition: all 250ms ease;

  &__header {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
}

.user_picture {
  @include useSquareSize(2.5rem);
  position: relative;
}

.user_picture__img {
  background-color: rgba(0, 38, 165, 0.2);
  border-radius: 50%;
  @include useSquareSize(100%);
  object-fit: scale-down;
}

.profile_link {
  font-size: 0.988rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 38, 165, 0.071);
  color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  padding: 0.99rem;
}

.home_link,
.left_side__title,
.left_side__site_nav_link {
  padding-inline: 1.5rem;
}

.username_wrap,
.home_link {
  padding-block: 1.5rem;
}

.home_link {
  position: relative;
  display: inline-flex;
  align-self: center;
  padding-block-end: 0;
  margin-inline: 1.5rem 0;
  width: 7rem;
  height: 5rem;
}

.left_side__site_logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.site_nav {
  &__list {
    list-style-type: none;
  }
}

.navlink {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.3rem 3rem;
  padding-block: 0.8rem;
  background-color: transparent;
  color: rgb(82, 82, 82);
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-family: v.$secondary_font;
  font-size: 1.1rem;
  gap: 1rem;
  width: 100%;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 3rem;
  &:hover {
    background-color: rgba(v.$primary_color, 0.1);
  }
}

.active_tab {
  color: v.$primary_color;
  border-color: transparent;
  background-color: rgba(v.$primary_color, 0.15);
  &::after {
    $radius: 0.255rem;
    display: block;
    @include usePosition(absolute, $top: 0, $right: 0, $bottom: 0);
    content: '';
    background-color: v.$primary_color;
    width: 0.23rem;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

@media (min-width: 780px) {
  .left_side_parent {
    display: block;
    width: v.$left-side-width;
    z-index: v.$zindex_level_one;
  }
}
